Package: tendermint-validator
Priority: optional
Architecture: amd64
Homepage: https://github.com/Cashmaney/tendermint-validator/
Maintainer: https://github.com/Cashmaney
Description: Lightweight Tendermint Validator - Sgx Edition!
Version: 0.5.0